*.class
*.jar
!capsules.jar
!UMLet/*
*/dist/*
*/nbproject/*
*/build/*
build.xml
project.xml
project.properties
manifest.mf
/SWOP UI/nbproject/private/private.xml
/Verslag/hospital.tex.backup
/Verslag/hospital.tex~
/Verslag/verslag.aux
/Verslag/verslag.log
/Verslag/verslag.out
/Verslag/verslag.tex.backup
/Verslag/verslag.tex~